<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.PruebaApp"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="cli-6.5.0" />

        <name>Prueba1</name>

        <description>
            Aplicación de prueba para hoteles.
        </description>

        <author href="#" email="roberto.luis1727@gmail.com">
            ravlri
        </author>
        <icon src="icono.png">
            <splash src="monito.png">

    </widget>
